@font-face {
  font-family: 'Barlow';
  src: url('~assets/fonts/Barlow-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow Bold';
  src: url('~assets/fonts/Barlow-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow Medium';
  src: url('~assets/fonts/Barlow-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Barlow SemiBold';
  src: url('~assets/fonts/Barlow-SemiBold.ttf') format('truetype');
}

